// 페이지 전체 폼
.cart-form {
  .cart-form-section {
    border-top: 1px solid #e6e6e6;
    margin-right: 6vh;
    min-width: 921px;

    .cart-form-section-inner {
      display: flex;
      flex-direction: column;

      // 카트 목록 관련
      .cart-items {
        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: #fff;
          vertical-align: middle;
          margin-right: 10px;
          box-sizing: border-box;
        }

        input[type="checkbox"]:checked + label {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: #6c801a;
          background-image: url(https://www.osulloc.com/kr/ko/static_cdj/images/shop/chk_icon.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto;
          vertical-align: middle;
          margin-right: 10px;
          box-sizing: border-box;
        }

        input[type="checkbox"]:disabled + label {
          content: "";
          cursor: default;
          background-color: #f2f4f7;
          border-color: #e6e6e6;
        }
        // 카트 목록 상단 전체선택/삭제
        .cart-check {
          border-bottom: 2px solid #333;
          margin-top: 40px;
          padding: 0 8px 15px 8px;

          .cart-check-left {
            .cart-check-left-inner {
              padding-left: 1vw;
            }
          }

          .cart-check-right {
            .cart-check-right-button {
              border: none;
              background: transparent;
              color: #666;
              cursor: pointer;
            }
          }
        }

        // 카트 목록 출력
        .cart-items-list {
          padding: 1vh;
        }
      }

      // 카트 하단 주문 버튼
      .cart-order-button {
        flex-direction: column;
        padding: 30px 20px 20px;

        .cart-order-button-select {
          line-height: 48px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 15px;
          color: #333;
          box-sizing: border-box;
          text-align: center;
          background-color: #fff;
          width: 160px;
          margin: 0 4px;
          cursor: pointer;
        }
        .cart-order-button-all {
          line-height: 48px;
          border-radius: 4px;
          border: none;
          font-size: 15px;
          color: #333;
          box-sizing: border-box;
          text-align: center;
          background-color: #6c801a;
          width: 328px;
          color: #fff;
          margin-top: 8px;
          cursor: pointer;
        }
      }
    }
  }

  .form-attention {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #999;
    margin: 10px auto 0;
  }
}
