.wrap{
    display: flex;
    justify-content: center;
}

.page-font{
    color: #333;
    font-family: 'ad','sans-serif';
    font-weight: 400;
    font-size: 13px;
}



.page-cart{
    padding-top: 10vh;
    padding-bottom: 10vh;
    
    .page-top-section{
        display: flex;
        justify-content: left;

        .page-top-section-inner{
            display: flex;
            align-items: center;

            .page_tit{

            }
        }
    }
}

.cart-form{
    display: flex;

    .cart-form-section{
        display: flex;
        border: 1px solid black;

        .cart-form-section-inner{
            display: flex;
            flex-direction: column;

            .cart-items{
                
                .cart-check{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid black;
                    
                    .cart-check-left{
                        display: flex;
                        align-items: center;
                        .cart-check-left-inner{
                            padding-left: 1vh;
                        }
                    }
                    .cart-check-right{
                        display: flex;
                        align-items: center;
                    }
                }

                .cart-items-list{
                    display: flex;

                    .list-item{
                        display: flex;
                        justify-content: space-between;

                        .list-item-check{
                            display: flex;
                            align-items: center;
                        }

                        .list-item-image{
                            display: flex;
                            align-items: center;
                        }

                        .list-item-count-price{
                            display: flex;
                            justify-content: space-between;
                            .list-item-count{

                                .list-item-count-inner{
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                            .list-item-price{
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .list-item-button{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

