// 전체 레이아웃
.wrap {
  line-height: 1.5;
}

// 페이지 타이틀
.page-pay {
  padding: 10vh 25vh 10vh 0;

  .page-top-section {
    display: flex;
    justify-content: left;
    padding: 48px 0 30px;
  }

  // 전체 이미지 스타일
  .image-png {
    max-width: 100%;
    width: 5vw;
    height: auto;
    vertical-align: top;
  }

  //아래는 중복되는 부분 정의
  .flex-align-center {
    display: flex;
    align-items: center;
  }

  .flex-bewteen {
    display: flex;
    justify-content: space-between;
  }

  .customer-info-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    background-color: #fff;
    letter-spacing: -0.03em;
    padding: 0 10px;
  }

  .item {
    font-size: 13px;
    color: #999;
    line-height: 1.53;
    text-indent: -10px;
    padding-left: 10px;
  }

  .padding-zero {
    padding: 0;
  }

  .payment-tool-check {
    margin-top: 40px;
  }

  .font14 {
    font-size: 13px;
    font-weight: lighter;
  }

  .down-detail {
    width: 94%;
    padding: 24px 24px 24px 24px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}
