.w_view {
  max-width: 1730px;
}

.btnWrapper {
  padding: 30px 0 45px 0;
  text-align: center;
}

.btn-toggleBox {
  border: none;
  display: inline-block;
  position: relative;
  margin: 0;
  color: #515150;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.sec_detail_info {
  display: flex;
  justify-content: center;
}
