.header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    // background: #fff;
    // color: #727272;
    background: linear-gradient(to bottom, rgba(0,0,0,.25), transparent);
    transition: all .3s ease-in-out;

    &:hover {
        background: #fff;

        .header_wrapper {
            .header_inner {
                .header_left {
                    .logo {
                        .logo_white {
                            display: none;
                        }
    
                        .logo_black {
                            display:block;
                        }
                    }
                    .nav {
                        display: flex;
                        flex-direction: column;
                        
                        ul.nav_list {
                            li.nav_depth1 {
                                &:hover {
                                    .nav_list_dep2_box {
                                        display: block;
                                    }
                                }
                                .nav_depth1_item {
                                    color: #555;
                                    &:hover {
                                        .nav_list_dep2_box {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .header_right {
                    ul.nav_util {
                        li {
                            a.nav_search {
                                background: url("public/image/header/icon_search_black.png") center no-repeat;
                                background-size: cover;
                            }

                            a.nav_cart {
                                background: url("/public/image/header/icon_cart_black.png") center no-repeat;
                                background-size: cover;
                            }

                            a.nav_more {
                                background: url("/public/image/header/icon_more_black.png") center no-repeat;
                                background-size: cover;
                            }
                        }
                    }

                    ul.nav_drop {
                        li {
                            a {
                                color: #555;
                            }
                        }
                    }
                }
            }
        }
    }
    .header_wrapper {
        max-width: 1540px;
        margin: 0 auto;
        padding: 0 20px;

        .header_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header_left {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .logo {
                    width: 160px;
                    padding-left: 44px;

                    .logo_white {
                        display: block;
                    }

                    .logo_black {
                        display: none;
                    }

                }

                .nav {
                    padding-left: 40px;
                    ul.nav_list {
                        display: flex;
                        li.nav_depth1 {
                            padding-right:80px;
                            a.nav_depth1_item {
                                &:hover {
                                    .nav_list_dep2_box {

                                        display:block;
                                    }
                                }
                            }
                            // hover시 내려오는거 
                            .nav_list_dep2_box {
                                z-index: 100;
                                position: absolute;
                                background-color: #fff;
                                left:0;
                                width: 100%;
                                border-top: 1px solid #e6e6e6;

                                    .nav_list_wrapper {
                                        padding: 0 170px;
                                        max-width: 1100px;
                                        margin: 0 auto;

                                        .nav_box {
                                            display: flex;
                                            align-items: flex-start;
                                            padding: 30px;
                                            
                                            ul.item_dep2_box {
                                                    display:flex;
                                                    flex-wrap: wrap;
                                                    flex: 1 1 auto;

                                                li.item_dep2 {
                                                    width: 20%; 
                                                    &:hover {
                                                        a.item_dep2_title {
                                                            color: #6C801A;
                                                        }
                                                    }

                                                    a.item_dep2_title {
                                                        font-size: 17px;
                                                        font-weight: 800;
                                                        color: #000;
                                                        text-decoration: none;
                                                    }

                                                    ul.item_dep3_box {
                                                        margin-top: 15px;

                                                        li.item_dep3 {
                                                            margin-bottom: 12px;

                                                            &:hover {
                                                                a.item_dep3_sub {
                                                                    color: #6C801A;
                                                                }
                                                            }

                                                            a.item_dep3_sub {
                                                                font-size: 15px;
                                                                color: #666;
                                                                text-decoration: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                            }
                            .nav_img {
                                flex: 0 0 29.5%;
                                width: 29.5%;
                            }

                            &:hover {
                                a.nav_depth1_item {
                                    color: #6C801A;
                                    &:hover {
                                        .nav_list_dep2_box {
                                            display: block;
                                        }
                                    }
                                }
                            }

                            a.nav_depth1_item {
                                display: block;
                                height: 80px;
                                line-height: 80px;
                                font-size: 18px;
                                font-weight: 800;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            
            .header_right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                ul.nav_util {
                    display: flex;
                    margin-right: 45px;

                    li {
                        margin-right: 15px;
                        a {
                            width: 28px;
                            height: 28px; 
                            display: block;
                            
                        }

                        a.nav_search {
                            background: url("/public/image/header/icon_search_white.png") center no-repeat;
                            background-size: cover;
                            &:hover {
                                background: url("/public/image/header/icon_search_hover.png") center no-repeat;
                                background-size: cover;
                            }
                        }

                        a.nav_cart {
                            background: url("/public/image/header/icon_cart_white.png") center no-repeat;
                            background-size: cover;
                            
                            &:hover {
                                background: url("/public/image/header/icon_cart_hover.png") center no-repeat;
                                background-size: cover;
                            }
                        }

                        a.nav_more {
                            background: url("/public/image/header/icon_more_white.png") center no-repeat;
                            background-size: cover;
                            
                            &:hover {
                                background: url("/public/image/header/icon_more_hover.png") center no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }

                ul.nav_drop {
                    display: flex;

                    li {

                        &:hover {
                            a {
                                color: #6C801A;
                            }
                        }
                        a {
                            font-size: 15px;
                            height: 80px;
                            margin-right: 24px;
                            font-weight: 800;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}