// 페이지 전체 폼
.pay-form {
  .pay-form-section {
    margin-right: 6vh;

    .pay-form-section-inner {
      display: flex;
      flex-direction: column;

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"] + label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        vertical-align: middle;
        margin-right: 10px;
        box-sizing: border-box;
      }

      input[type="checkbox"]:checked + label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #6c801a;
        background-image: url(https://www.osulloc.com/kr/ko/static_cdj/images/shop/chk_icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        vertical-align: middle;
        margin-right: 10px;
        box-sizing: border-box;
      }

      // 결제 관련 4가지 컨테이너
      .container {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-top: 2px solid black;

        .skip_btn {
          flex: 0 0 123px;
          width: 123px;
          height: 35px;
          background-color: white;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-left: 10px;
          cursor: pointer;
        }

        // 각 컨테이너 타이틀
        .pay-info-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          height: 60px;
          line-height: 60px;
          min-width: 825px;

          .pay-info-title-left {
            font-size: 18px;
          }

          .pay-info-title-right {
            display: flex;
            font-size: 14px;
            color: #6c801a;

            .pay-info-title-right-drop {
              margin-left: 16px;
              margin-top: 20px;
              width: 20px;
              height: 16px;
              cursor: pointer;
            }
          }
        }

        // 각 컨테이너 내부 정보
        .customer-info {
          padding: 20px 20px 60px 20px;
          border-bottom: 1px solid #ddd;

          .customer-info-table {
            width: 100%;
            empty-cells: show;
            border-collapse: separate;

            .addT {
              display: block;
              color: #333;
              margin-top: 10px;
              margin-bottom: 10px;
              text-indent: -10px;
            }

            .customer-info-tr {
              display: table-row;
              vertical-align: top;
              padding-top: 20px;

              .customer-request {
                width: 94%;
                padding: 24px 24px 24px 24px;
                margin-top: 20px;
                background-color: #f6f6f6;
                border-radius: 4px;
              }

              .customer-info-th {
                vertical-align: middle;
                padding-top: 20px;
                text-align: left;
                font-weight: 200;
                font-size: 14px;
                width: 15%;
              }

              .customer-info-td {
                padding-top: 20px;
                display: flex;
                justify-content: flex-start;

                .customer-attention {
                  width: 100%;
                  padding: 24px;
                  margin-top: 20px;
                  background-color: #f6f6f6;
                  border-radius: 4px;
                }

                .email {
                  width: 74%;
                }

                .at {
                  width: 20px;
                  text-align: center;
                  font-size: 15px;
                  color: #666;
                  padding: 10px 12px;
                }

                .select {
                  width: 210%;
                  height: 44px;
                  padding: 0 10px;
                }

                .phone {
                  width: 68%;
                  height: 44px;
                  padding: 0 10px;
                }

                .send {
                  padding: 0 10px;
                }

                .address {
                  width: 32%;
                  margin-right: 10px;
                }

                .address_btn {
                  flex: 0 0 110px;
                  width: 110px;
                  background-color: #f6f6f6;
                  border: 1px solid #ddd;
                  border-radius: 4px;
                  margin-left: 10px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  .list-item {
    .list-item-image-text-p1 {
      font-size: 15px;
      font-weight: 100;
    }
    .list-item-image-text-p2 {
      margin-top: 2px;
      margin-left: 4px;
      font-size: 14px;
      font-weight: 100;
    }
    .list-item-image-text-p3 {
      font-size: 10px;
      font-weight: 100;
    }
  }
}
